<!DOCTYPE html>
<html>

<head>
    <title>AnimoLabs</title>
    <link rel="stylesheet" href="../public/style.css">
    <script src="loggedout.js"></script>
</head>

<body>
    <div class="container">
        <nav>
            <a href="../index"><img class="logo" src="../public/images/dlsu-logo-green.png"/></a>
            <ul>
                <li><a href="../index">Home</a></li>
                <li class="lab-menu">Laboratories</li>
                <li><a href="../about_loggedout">About</a></li>
                <li><a href="../contact_loggedout">Contact</a></li>
            </ul>
            <a href="../login" class="Login">Login</a>
            <a href="../register" class="Register">Register</a>

            <div class="lab-dd-container">
                <div class="lab-dd">
                    <a href="../lab_loggedout" class="lab-dd-link">
                        <p>Gokongwei</p>
                        <span>></span>
                    </a>
                    <a href="#" class="lab-dd-link">
                        <p>St. La Salle Hall</p>
                        <span>></span>
                    </a>
                    <a href="#" class="lab-dd-link">
                        <p>Velasco</p>
                        <span>></span>
                    </a>
                </div>
            </div>

        </nav>

        <div>
            <h2>Welcome to AnimoLabs</h2>
        </div>

        <div class="slideshow">
            <div class="slider">
                <img id="slide1" src="../public/images/slide1.jpg" alt="Lab1"/>
                <img id="slide2" src="../public/images/slide2.jpg" alt="Lab2"/>
                <img id="slide3" src="../public/images/slide3.jpg" alt="Lab3"/>
            </div>
            <div class="slider-nav">
                <a href="#slide1"></a>
                <a href="#slide2"></a>
                <a href="#slide3"></a>
            </div>
            <div class="buttons-container">
                <a href="../lab_loggedout" class="reserve-button">Reserve seats now</a>
                <a href="../contact_loggedout" class="contact-button">Contact Us</a>
            </div>
        </div>

        <div class="spacer"></div>

        <div class="image-container">
            <div class="image-with-button">
                <img src="../public/images/gokongwei.jpg" alt="Image 1">
                <a href="../lab_loggedout" class="Viewbldg">View Gokongwei Labs</a>
            </div>

            <div class="image-with-button">
                <img src="../public/images/stlasalle.jpg" alt="Image 2">
                <a href="#" class="Viewbldg">View St. La Salle Hall Labs</a>
            </div>

            <div class="image-with-button">
                <img src="../public/images/velasco.jpg" alt="Image 3">
                <a href="#" class="Viewbldg">View Velasco Labs</a>
            </div>
        </div>

        <div class="spacer"></div>

        <div class="footer">
            <a href="../index"><img class="logo-footer" src="../public/images/dlsu-logo-green.png"/></a>

            <div class="socmed-container">
                <ul>
                    <li><a href="https://www.facebook.com/dlsuofficial" target="_blank"><img src="../public/images/icons/facebook.png" alt="Facebook"></a></li>
                    <li><a href="https://www.instagram.com/dlsuofficial" target="_blank"><img src="../public/images/icons/instagram.png" alt="Instagram"></a></li>
                    <li><a href="https://twitter.com/DLSUManila" target="_blank"><img src="../public/images/icons/twitter.png" alt="Twitter"></a></li>
                    <li><a href="https://www.linkedin.com/school/de-la-salle-university" target="_blank"><img src="../public/images/icons/linkedin.png" alt="LinkedIn"></a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
