<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" scontent="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/lab.css">
    <script src="loggedout.js"></script>
    <title>Gokongwei Labs | AnimoLabs</title>
</head>

<body>
    <div class="container">
        <nav>
            <a href="../index"><img class="logo" src="../public/images/dlsu-logo-green.png" /></a>
            <ul>
                <li><a href="../index">Home</a></li>
                <li class="lab-menu">Laboratories</li>
                <li><a href="../about_loggedout">About</a></li>
                <li><a href="../contact_loggedout">Contact</a></li>
            </ul>
            <a href="../loggedin" class="Login">Login</a>
            <a href="../register" class="Register">Register</a>

            <div class="lab-dd-container">
                <div class="lab-dd">
                    <a href="../lab_loggedout" class="lab-dd-link">
                        <p>Gokongwei</p>
                        <span>></span>
                    </a>
                    <a href="#" class="lab-dd-link">
                        <p>St. La Salle Hall</p>
                        <span>></span>
                    </a>
                    <a href="#" class="lab-dd-link">
                        <p>Velasco</p>
                        <span>></span>
                    </a>
                </div>
            </div>
        </nav>
    
    <h1>Please Login to Reserve a Lab</h1>

    <script>
        
    </script>
</body>

</html>