<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged Out</title>
    <link rel="stylesheet" href="../public/logout.css">
</head>
<body>
    <div class="container">
        <h2>You have been logged out.</h2>
        <a href="../index" class="home-button">Return to Home</a>

         <script src="../loggedout.js"></script>
    </div>
</body>
</html>
