@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400');

:root {
    font-family: 'Mulish', sans-serif;
}

body {
    font-family: 'Mulish', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    margin: 0;
}

.login-container {
    width: 400px; 
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #333;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus{
    border-color: #00703C;
    outline: none;
}

.login-button {
    padding: 10px 20px;
    background-color: #00703C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Mulish', sans-serif;
}

.login-button:hover {
    background-color: #004E2A;
}

.back-button {
    padding: 10px 20px;
    background-color: white; 
    color: #00703C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Mulish', sans-serif;
    border: 2.5px solid #00703C;    

}

.back-button:hover {
    background-color: #e9e9e9; 
}
